.mapbox-container{

  height:100%;
  width:100%;
  overflow:hidden;
  box-sizing:border-box;
  .mapbox {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .circular{
    position:fixed;
    z-index:100000;
    right:0;
    top:0;
    font-size:2em;
  }

}